@import "tailwindcss";
@tailwind utilities;

@theme {
  --animate-scroll: scroll 30s linear infinite;

  @keyframes scroll {
    0% {
      transform: translateX(0%);
    }

    100% {
      transform: translateX(-50%);
    }
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  @apply text-gray-900;
}

.group:hover .animate-scroll {
  animation-play-state: paused;
}